<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vicky &amp; Chris' Wedding Website</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
<style>
    body, h1, h2 {
        font-family: "Raleway", sans-serif;
    }
    p {
        line-height: 2;
    }
    .bgimg, .bgimg2 {
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
    .bgimg {
        background-image: url("../../Images/IMAG0134.jpg");
    }
    .bgimg2 {
        background-image: linear-gradient(to bottom, #d8cccc, transparent 30%), 
            linear-gradient(to top, #d8cccc, transparent 30%), 
            url('../../Images/Venice_Canal_Bridge.jpg');
    }
    .bgimg3 {
        background-image: radial-gradient(#d8cccc, transparent 40%), url("../../Images/HeatonHouse.jpg");
    }

</style>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body class="bodybackground grayscale-min opacity-min">
    <header class="display-container text-wide-spacing bgimg grayscale-min" style="height: 1000px " id="home">
        <div class="display-middle text-white text-center">
            <h1 class="text-jumbo">Vicky & Chris</h1>
            <h2>Are getting married</h2>
            <h2><b>14.02.2019</b></h2>
        </div>
    </header>
    <div class="display-container-center padding-64 text-center bodybackground opacity-min" style="height: auto; padding-top: 15%" id="us">
        <div class="text-black text-center font-Large content-slight-border">
            <h1>The Rest Is History</h1>
            <br />
            <p style="padding-bottom: 6.5%; padding-top: 2.5%">
                <i>
                    You all know we're getting married. Vicky and I have been together for almost 9 years and we first met on the first day of university.
                    <br />
                    From the moment I first saw Vicky I thought she was the most beautiful person I'd ever seen and still do.
                    <br />
                    Although it took 4 months for me to ask Vicky to be my girlfriend, I always looked forward to speaking to her every night on MSN (remember that!).
                    <br />
                    <br />
                    Over the years we've been together we've shared so many great experiences together.
                    From university and living in student digs, holidays in some pretty cool places, fads that come and go (mainly Chris), to our first full-time job and buying our own home together!
                    <br />
                    <br />
                    I'd known for years that I wanted to marry Vicky but could never afford to buy her a ring but after 2365 days I finally proposed!
                    So now we'd like you to share our most exciting adventure yet and join us on our wedding day!
                </i>
            </p>
            <h1><i>We'd Love You To Be There!</i></h1>
        </div>
    </div>
    <div class="display-container bgimg2 gradient" style="height:600px;">
    </div>
    <div class="display-container-center padding-64 text-center bodybackground grayscale-min opacity-min" style="height: auto; padding-top: 15%" id="church">
        <div class="text-black text-center font-Large content-slight-border">
            @*<h1 class="text-jumbo"><i>The Big Day</i></h1>*@
            <br />
            <h1><i>The Church</i></h1>
            <p style="padding-top: 2.5%">
                <i>
                    The day will begin at spectacular church that is St Michael's Church in ditton.<br />
                    St Michael's hold a special place in the hearts of my family and is the church that I grew up attending mass at.
                </i>
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2380.9428987270503!2d-2.7645378841609594!3d53.36217682998232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b1df691ca89eb%3A0x2ac045324bdc156a!2sSt+Michaels+Church%2C+St+Michael&#39;s+Rd%2C+Widnes+WA8+8TF!5e0!3m2!1sen!2suk!4v1507663473314" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br />
        </div>
    </div>
    <div class="display-container-center padding-64 text-center bodybackground grayscale-min opacity-min" style="height: auto; padding-top: 15%" id="reception">
        <div class="text-center font-Large content-slight-border">
            <h1><i>The Reception</i></h1>
            <p style="padding-top: 2.5%">
                <i>
                    After we say I do there will be plenty of time for photographs but don't hang around too long as it's on to the reception to eat, drink and celebrate the Nulty and Hunter families coming together.
                    <br />
                    <br />Heaton House Farm is a working farm as well as a beautiful wedding venue.
                    <br />We instantly fell in love with Heaton House Farm and we hope you will too.
                    Once you see the venue and it's panoramic view overlooking the 3 counties of Cheshire, Staffordshire and Derbyshire, it'll be hard not to do the same!
                    <br />
                </i>
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2392.500370897363!2d-2.0806647843529578!3d53.1550607967231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a4700f1ae9f27%3A0x4cc960e2a7d597b2!2sHeaton+House+Farm+Wedding+Venue!5e0!3m2!1sen!2suk!4v1507663654473" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    @*<div class="display-container-center padding-64 text-center bodybackground grayscale-min opacity-min" style="height: 900px; padding-top: 15%" id="rsvp">
        <div class="text-black text-center font-Large ">
            <h1 class="text-jumbo"><i>We'll See You At The Alter!</i></h1>*@ @*Try to overlay text on image*@
            @*<h1>RSVP</h1>
            <img class="img-rounded display-container-center" src="~/Images/HeatonHouse.jpg" />
        </div>
    </div>*@
    <div class="navbar-inverse navbar-fixed-bottom container opacity-min">
        <div id="navBar" class="text-white text-center padding opacity-min hover-opacity-off">
            <a href="#home" style="width: 25%" class="baritem button">Home</a>
            <a href="#us" style="width: 25%" class="baritem button">Vicky & Chris</a>
            <a href="#church" style="width: 25%" class="baritem button">The Chruch</a>
            <a href="#reception" style="width: 25%" class="baritem button">The Reception</a>
            @*<a href="#rsvp" style="width: 25%" class="baritem button">RSVP</a>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $('.baritem').click(function () {
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top
            }, 500);
            return false;
        });
    </script>
</body>
</html>